.main
{
    background-color: #e2ea07;
    align-items: center;
    color: rgb(72, 16, 85);
    font-size: 20px;
    text-decoration-color: rgb(72, 16, 85);
    font-weight: 500;
    height: 100%;
    padding: 0px 10px 0px 10px;
    background: url("../../assets/AdobeStock_251837407_Preview.jpeg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main >
 .selected {
    background: rgb(221, 237, 5);
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    font-weight: 500;
    margin-bottom: 20px;
}
.main img {
    height: 3em;
    width: 200px;
}
.main div
{
    cursor: pointer;
    height: 51px;
}
.sign-up{
    color:blue;
    cursor: pointer;
}