 
<div class="center">
<div class="container">
    <div class="form-panel">
        <h2>Task</h2>
        <div *ngIf="errorMessage && errorMessage !== ''" class="error" id="errordiv">
            {{errorMessage}}
        </div>
        
        <div class="form-group">
            <label for="taskname">Task Name:</label>
            <input type="text" class="form-control" id="taskname" [(ngModel)]="taskName" required>
        </div>

        <div class="form-group">
            <label for="priority">Priority:</label>
            <select id="priority" class="form-control" [(ngModel)]="taskPriority">
                <option *ngFor="let prio of priority" [value]="prio.key">{{prio.value}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="isEdit" style="display: flex; align-items: center;">
            <input type="checkbox" class="form-control" id="isComplete" [(ngModel)]="isComplete" [value]="isComplete" required>
            <label for="isComplete" style="margin-left: 10px;">Is Task Complete</label>
        </div>

        <div class="form-group">
            <label for="taskdesc">Task Description:</label>
            <input type="text" class="form-control" id="taskdesc" [(ngModel)]="description" required>
        </div>
        
        <div class="form-group">
            <label for="taskdate">Task Date:</label>
            <input type="date" class="form-control" id="taskdate" [(ngModel)]="date" required [min]="maxDate">
        </div>
        
        <div class="form-group">
            <label for="taskdeadlinedate">Deadline Date:</label>
            <input type="date" class="form-control" id="taskdeadlinedate" [(ngModel)]="deadlineDate" required [min]="maxDate">
        </div>
        
        <button type="submit" class="submit-button" (click)="onDoTask()">{{isEdit ? 'Update Task' : 'Create Task'}}</button>
    </div>
</div>
 </div>
